@font-face {
  unicode-range: U+2014, U+2015, U+2E3B, U+2E3A;
  font-family: DASH;
  src:
    local("STHeiti"), local("PingFang SC"), local("WenQuanYi Micro Hei"),
    local("Microsoft Yahei");
}

html,
body {
  @apply font-sans;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.delim:before {
  content: "";
  background: rgba(51, 51, 51, 0.2);
  @apply absolute left-[50%] h-[1px] w-[50px] -ml-[25px];
}

.btn-plain:after {
  content: "";
}
