{
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "consistent",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "useEditorConfig": true,
  "semi": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore"
}
