.content {
  @apply w-full relative box-border
    overflow-hidden z-20
    text-[16px] font-content font-light;

  & s {
    color: #878787;
  }

  & p {
    @apply mb-5 break-words;

    vertical-align: middle;
  }

  & hr {
    @apply my-3;
  }

  & ins {
    background: #e5ffd5;
    border-left: 0.2rem solid #aade8b;
    &::before {
      content: '+';
      margin-right: 1rem;
    }
    line-height: normal;
  }

  & sup,
  & sub {
    line-height: 0;
  }

  & blockquote {
    @apply border-l-2 ml-0 pl-4 py-1
    border-warm-gray-300 italic block text-warm-gray-600;

    & p {
      @apply p-0 m-0;
    }
  }

  & mark {
    @apply inline py-1 px-2;

    background-color: #fcffc0;
  }

  & ins,
  & [class*='success'],
  & [class*='info'],
  & [class*='warning'],
  & [class*='danger'] {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin-left: -1rem;
    text-decoration: none;
  }

  & [class*='success'],
  & [class*='info'],
  & [class*='warning'],
  & [class*='danger'] {
    text-decoration: none;
    margin: 2rem 0;
    & p {
      margin-top: 0.35rem;
    }
  }

  & [class*='success'] {
    background: #e5ffd5;
    border-left: 0.2rem solid #aade8b;
  }

  & [class*='info'] {
    background: #cbeeff;
    border-left: 0.2rem solid #53ceff;
  }

  & [class*='warning'] {
    background: #ffe2d1;
    border-left: 0.2rem solid #ffa670;
  }

  & [class*='danger'] {
    background: #ffc5c5;
    border-left: 0.2rem solid #ff6868;
  }

  & ul,
  & ol {
    @apply mb-6 mt-3;

    & li {
      @apply mb-3 font-content leading-6;

      &::marker {
        @apply select-none text-xs leading-7;

        color: #736e6e;
      }

      & p {
        @apply m-0 p-0;
      }
    }
  }

  & ul {
    @apply pl-6 list-disc;
  }

  & ol {
    @apply list-decimal pl-6;

    & li::marker {
      @apply font-mono leading-7;
    }
  }

  & [class*='footnotes-list'] {
    @apply text-sm;

    & * {
      @apply mb-0 pb-0;
    }
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    & a {
      @apply transition-colors text-warm-gray-800 hover:text-warm-gray-600;
    }
  }

  & h1,
  & h2 {
    @apply pt-4 pb-3 border-b-1;
  }

  & h3 {
    @apply pt-3 pb-2;
  }

  & h4,
  & h5 {
    @apply pt-2 pb-1;
  }

  & h1 {
    @apply text-4xl;
  }

  & h2 {
    @apply text-3xl;
  }

  & h3 {
    @apply text-2xl;
  }

  & h4 {
    @apply text-xl;
  }

  & h5 {
    @apply text-lg;
  }

  & img {
    @apply max-w-full my-4 mx-auto h-auto block;

    & ~ em {
      @apply text-warm-gray-400 mt-2 mb-8 text-sm block text-center;
    }

    &[src*='math.now.sh'] {
      @apply border-none rounded-none cursor-auto;

      &:not([style='display:inline-block']) {
        @apply inline;
      }

      &[style*='display:inline-block'] {
        vertical-align: middle;
      }
    }
  }

  & a {
    @apply text-red-800 filter hover:brightness-120 font-sans font-normal whitespace-nowrap;
    &[rel*='external'] {
      &::after {
        content: ' ↗';
        @apply text-xs relative -top-0.5;
      }
    }
  }

  & p,
  & figure {
    @apply leading-7;
  }

  & figure {
    margin-left: 0;
    margin-right: 0;
    & span {
      word-break: break-all;
    }
  }

  & table {
    @apply p-2 mb-6 w-full
      border-1 border-collapse
      text-sm;

    & td,
    & th {
      @apply border-1 relative;
    }

    & th {
      @apply p-3;
    }

    & td {
      @apply p-2;
    }
  }

  & hr {
    height: 1px;
    border: 0;
    background-color: #dedede;
    margin: 1rem auto 1.57143em auto;
  }

  & dl {
    @apply text-sm;

    & dt {
      @apply font-bold mt-4 mb-3;
    }

    & dd {
      @apply text-warm-gray-700;
    }
  }

  & pre {
    @apply;

    & code {
      @apply font-mono block p-4 text-sm leading-6 overflow-x-scroll;
    }
  }

  & code:not([class*='hljs']) {
    @apply font-mono text-sm break-all px-2 mr-1 whitespace-nowrap;

    color: #c7254e;
    background-color: #f9f2f4;
    vertical-align: text-bottom;
  }
}
